<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="A" type="log4net.Appender.FileAppender">
      <file value="C:/Logs/DebugTrace/Log4net.log" />
      <appendToFile value="true" />
      <immediateFlush value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %message%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="A" />
    </root>
  </log4net>
</configuration>
